# Make index.html the default landing page.
DirectoryIndex index.html index.php

# Hide hidden files.
<FilesMatch "^\.">
    Order Allow,Deny
    Deny from all
</FilesMatch>
<IfModule mod_authz_core.c>
    <FilesMatch "^\.">
        Require all denied
    </FilesMatch>
</IfModule>
