# Protect config.php from being served as text.
<Files "config.php">
    Order Allow,Deny
    Deny from all
</Files>

# Fallback for Apache 2.4
<IfModule mod_authz_core.c>
    <Files "config.php">
        Require all denied
    </Files>
</IfModule>
